.js .simple-submit {
	display: none;
}

legend {
  background: $cuisinart-dark-gray;
	//font-size: 1.2em;
	font-weight: 400;
	color: $white;
	margin: 0 0 10px 0;
	//padding: 0.5em 2%;
	padding:0.3125em 0.5em;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	span {
		font-size: 0.75em;
		font-weight: 400;
		position: relative;
		padding: 0 0.5em;
		vertical-align:middle;
	}
}

.dialog-required {
	display: inline-block;
	font-weight: 400;
	position: relative;
	text-transform: capitalize;
}

label {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom:0.3125em;
	.form-horizontal & {
		float: left;
		margin-bottom: 0;
		width: 100%;
		@media screen and (min-width: 768px) {
			text-align: right;
			width: 25%;
		}
	}
	.label-inline & {
		display: inline;
		float: none;
		font-size: 0.875em;
		font-weight: 400;
		margin-top: 0;
		text-align: left;
		width: auto;
	}
	.label-above & {
		margin-bottom: 0.3rem;
		width: auto;
	}
	span{
	  vertical-align:middle;
	}
}

.form-label-text {
	float: left;
	font-size: 1.1em;
	font-weight: 400;
	padding: 0.75em 0 0;
	text-align: right;
	width: 25%;
}

.form-row {
	@extend %clearfix;
	margin: .5rem 0 1rem;
}

.form-row-button {
	clear: left;
	.form-horizontal & {
		@media screen and (min-width: 768px) {
			margin-left: 27%;
			width: 62%;
		}
	}
}

.field-wrapper {
	box-sizing: border-box;
	width: 100%;
	.form-horizontal & {
		float: left;
		width: 76%;
		@media screen and (min-width: 768px) {
			padding-left: 2%;
			width: 50%;
		}
	}
	.label-inline & {
		float: left;
		padding-left: 0;
		width: auto;
	}
	.label-above & {
		float: none;
		padding-left: 0;
		width: auto;
	}
}

.form-horizontal .form-row.error{
  .field-wrapper{
    margin-bottom:1em;
  }
}

input{
  font-size:0.875em;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="email"],
textarea {
	border: 1px solid $cuisinart-gray;
	box-sizing: border-box;
	vertical-align:middle;
	padding: 5px 10px;
	text-indent: 0;
	width:95%;
	color: $black;
	&.error{
	  border-color: $sangria;
	}
}
textarea{
  height:120px;
  line-height:1.5em;
}

input:focus,
textarea:focus,
select:focus{
  outline:none;
  //box-shadow: 0 0 5px rgba(150, 150, 150, 0.6);
}

select {
	background-color: #fff; // set background color to make height work
	width: 95%;
	//height: 30px;
	padding:5px 10px;
	border: 1px solid $cuisinart-gray;
	font-size:14px;
	.search-result-options & {
	  width:100%;
		height: auto;
		padding:0.25em;
		font-size:0.75em;
		font-style: normal !important;
	}
}

input[type="checkbox"],
input[type="radio"] {
	margin: 1em 1% 1em 2%;
	.label-inline & {
		margin: 0.5em 0.3125em 0 0;
	}
}

.form-caption {
  display:block;
	//clear: left;
	width: auto;
	font-size:0.875em;
	padding:0.5em 0;
	.form-horizontal & {
		@media screen and (min-width: 768px) {
			margin-left: 27%;
		}
	}
	.label-above & {
		margin-left: 0;
	}
	.form-indent & {
		margin-left: 0;
	}
}

.form-indent {
	@media screen and (min-width: 768px) {
		margin-left: 27%;
	}
}

.error-message {
  position:relative;
	border: 2px solid $sangria;
	background-color: $tutu;
	padding: 0.7em 0.5em;
	text-indent: 0;
	width: 49.5966%;
	font-size:0.75em;
	clear:both;
}

.error {
	background-color: $tutu;
	border-color: $sangria;
	color: $sangria;
}

span.error,
div.error {
	background: none;
	display:block;
	font-size:0.75em;
	margin-top:0.125em;
	label{
	  font-size:1.125em;
	}
	input{
	  font-size:1em;
	}
}

.error-form {
	background-color: $error-pink;
	border: 1px solid $sangria;
	font-size:0.75em;
	color: $sangria;
	margin: 0.5em 0;
	padding: 0.8em;
}

.form-inline {
	form {
		padding: 0 0 2em;
		width: 98%;
	}
	label {
		padding: 0 0 0.75em;
		text-transform: uppercase;
		width: auto;
	}
	input[type="text"], select {
		margin-left: 0;
		width: 95%;
	}
	button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

.row-inline {
	display: inline;
	label {
		width: auto;
	}
}

.require-dialog {
	font-weight: 400;
	position: absolute;
	right: 1em;
	text-transform: none;
	top: 1em;
}

.required-indicator {
	color: $red;
	font-size:13px;
	vertical-align:middle;
	legend & {
	  color: $white;
	}
}

.form-field-tooltip {
	float: left;
	margin-left: 3%;
	padding-top: 0.75em;
	width: 20%;
}

.char-count {
	display: block;
	margin-left: 27%;
}

/*Hide for Cuisinart Launch*/
fieldset#couponCodes{
  display:none;
}



//=============================================//
//--------------- MEDIA QUERIES ---------------//
//=============================================//


/* Mobile Lg/Sm */
@media screen and (max-width: 767px) {
  .field-wrapper{
    .form-horizontal & {
      width:100%;
    }
  }
}

/* Mobile Lg Only */
@media screen and (min-width: 480px) and (max-width: 767px) {
  
}

/* Mobile Sm Only */
@media screen and (max-width: 479px) {
  
}

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 959px) {

}
