.pt_product-details {
	#main {
		background-color: transparent;

		& > .wrap {
			background-color: $white;
		}

	}

	.primary-content {
		padding: 0 1.875em;
		margin: 0;

		.breadcrumb {
			margin: 1.25em 0 1.875em;
		}

	}

}

#product-nav-container {
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 160px;

	div {
		float: left;
		text-align: center;
		width: 77px;
	}

	img {
		max-height: 100%;
		max-width: 80%;
	}

	span {
		display: block;
		height: 65px;
	}

	.divided span {
		border-right: 1px solid $gainsboro;
		padding-right: 5px;
	}

}

.pdp-main {
	@extend %clearfix;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	label,
	.label {
		color: $dark-gray;
		text-transform: none;
		float: left;
	}

	.product-col-1 {
		float: left;
		width: 52.44444%;
	}

	.product-image-container {
		overflow: hidden;
		padding: 0 3em 0.625em 0;
	}

	.product-detail-bottom {
		display: block;
		width: 100%;
		overflow: hidden;
		border: 0 solid $cuisinart-gray;
		border-width: 1px 0 0;
		margin: 1em 0;
		padding: 1em 0;
	}

	.mobile-images-block {
		display: none;
		border: 0 none;
		border: 1px solid $medium-gray;
	}

	.product-primary-image {
		position: relative;
		max-width: 100%;
		width: calc(100% - 3.75rem);
		padding: 0;
		text-align: center;
		float: right;
		//border: 1px solid #e0e0e0;
		//box-shadow: 4px 4px 10px 0 rgba(66, 66, 66, 0.2);
	}

	.view-details-link {
		display: block;
		margin: 0 0 0.625em;
		font-size: 0.875em;
		clear: both;
	}

}

.main-image {
	display: block;
	width: 100%;
	height: auto;

	&:hover {

		/*cursor: url('../ext-resources/ext-theme-gray/images/magnify.png'), default;*/
		cursor: -webkit-zoom-in;
		cursor: -moz-zoom-in, auto;
	}

	.primary-image {
		width: 480px;
		max-width: 100%;
		display: block;
	}

}

.primary-image {
	max-width: 100%;
}

.product-image-zoomLink {
	display: block;
	left: -5px;
	position: absolute;
	bottom: 20px;
	transition: none 0s ease 0s;
	vertical-align: middle;
	width: auto;
	pointer-events: none;

	.icon {
		display: block;
		width: 16px;
		height: 16px;
		background-image: url('../images/interface/magnify.png');
		background-position: 0 0;
		background-repeat: no-repeat;
		margin: 0 5px 0 25px;
		float: left;
	}

	&:hover {
		.icon {
			background-position: 0 -16px;
		}

	}

}

.product-thumbnails .thumbs-wrap ul {
	//height: 63px;
}

.product-thumbnails .thumbs-wrap ul li:last-child {
	//margin: 0;
}

.product-thumbnails {
	display: block;
	margin: 0;
	width: 60px;
	padding-right: 8px;

	ul {
		@extend %clearfix;
	}

	// thumbnail
	.thumb,
	.videothumb {
		margin: 0 0 5px 0;
		width: 52px;
		height: 52px;
		border: 1px solid $very-light-gray;

		&.selected {
			border-color: $black;
		}

	}

	.videothumb {
		position: relative;

		.videoThumbOverlay {
			background-color: $white;
			display: block;
			width: 36px;
			height: 36px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -18px;
			margin-left: -18px;
			border: 3px solid $black;
			border-radius: 18px;
			pointer-events: none;
			opacity: 0.75;
			transition: opacity 0.3s ease;
		}

		.icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			margin: -7px 0 0 -5px;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
			border-left: 13px solid $black;
		}

		&:hover {
			.videoThumbOverlay {
				opacity: 0.9;
			}

		}

	}

	// thumbnail image
	img {
		border: none;
		box-sizing: border-box;
		cursor: pointer;
		width: 100%;
		max-width: 100%;
		height: auto;

		&.productthumbnail {
			cursor: pointer;
			width: 100%;
			height: 100%;
		}

	}

	h2 {
		margin: 1rem 0 .3rem;
	}

	.thumbs-wrap {
		position: relative;
		width: auto;
		overflow: hidden;
		display: inline-block;

		ul {
			position: relative;
			top: 0;
			left: 0;
			overflow: hidden;

			li {
				list-style-type: none;
			}

		}

		&.overflow {
			position: relative;

			/*max-height:260px;*/
			.prev-thumbs,
			.next-thumbs {
				display: block;
				width: 60px;
				height: 30px;
				margin-bottom: 5px;
				text-align: center;
				line-height: 30px;
				position: relative;
				z-index: 10;
				background: $white;
				pointer-events: auto;
				background-color: $white;
				transition: none;
				border: 2px solid $white;

				span {
					display: block;
					width: 100%;
					height: 100%;
					background-image: url('../images/nav-arrows-vertical.png');
					background-position: -2px -8px;
					background-repeat: no-repeat;
					text-indent: -9999px;
				}

				&.disabled {
					//opacity: 0.3;
					color: $very-light-gray;
					pointer-events: none;

					span {
						opacity: 0.3;
					}

				}

			}

			.prev-thumbs {
				top: 0;
			}

			.next-thumbs {
				position: absolute;
				bottom: 0;
				margin-bottom: 0;

				span {
					background-position: -2px -32px;
				}

			}

		}

	}

}

.videoLinkText {
	font-size: 0.9375em;
	display: block;
	margin: 0.625em auto 0;
	text-align: center;
	color: $black;
	transition: all 0.3s ease;

	.fa {
		margin-right: 0.125em;
		font-size: 1em;
	}

	&:hover {
		text-decoration: none;

		.fa {
			color: $cuisinart-gray-50;
		}

		span {
			text-decoration: underline;
			color: $cuisinart-gray-50;
		}

	}

}

.pdp-main {
	.product-col-2 {
		float: right;
		width: 47.55556%;
		color: $dark-gray;
	}

	.product-name {
		line-height: normal;
		font-size: 1.375rem;
		text-transform: uppercase;
		margin: 0;
	}

	.product-info {
		text-align: right;
		overflow: hidden;
	}

	.product-number,
	.product-color {
		display: inline-block;
		font-size: 0.875em;
		text-align: left;
		margin-bottom: 0.625em;
		clear: both;
		float: left;
	}

	.product-number {
		margin-top: 0.3125em;
	}

	#BVRRSummaryContainer {
		display: inline-block;
	}

	.bv-cv2-cleanslate .bv-core-container-178 .bv-author .bv-avatar-popup-target,
	.bv-cv2-cleanslate .bv-core-container-178 .bv-popup-profull .bv-content-item .bv-content-author-name .bv-author .bv-avatar-popup-target,
	.bv-cv2-cleanslate .bv-core-container-178 .bv-author .bv-avatar-author-name,
	.bv-cv2-cleanslate .bv-core-container-178 .bv-popup-profull .bv-content-item .bv-content-author-name .bv-author .bv-avatar-author-name {
		border: none !important;
		box-shadow: none !important;
	}

	.product-price {
		font-size: 1.375rem;
		.price-standard {
			color: $black;
			text-decoration: line-through;
			float: left;
		}

		.price-level {
			font-size: 21px;
			line-height: 20px;
			vertical-align: text-top;
			float: left;
		}

		.price-sales {
			color: $black;
		}

		.price-level + .price-sales {
			color: $cuisinart-red;
		}

		.price-tiered {
			color: $cuisinart-red;
			font-size: .6em;
			line-height: 1.5em;
		}

	}

	.product-main-attributes {
		.attribute {
			padding: .2em 0;
		}

		.label {
			padding: 0;
		}

	}

}

.videos-wrapper {
	display: block;
	width: 75%;
	height: auto;
	margin: 0 auto;
}

.vid-container {
	position: relative;
	width: 100%;
	height: 0;
	margin-bottom: 15px;
	padding-bottom: 56.25%;

	/* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}

.product-feature-icons {
	margin-bottom: 1.5rem;

	ul {
		display: flex;
	}
}

.product-variations,
.product-options {
	.attribute {
		margin: 1em 0;
		overflow: hidden;
		padding: 0;
		position: relative;

		h3,
		.label {
			font-weight: normal;
			margin-bottom: .3rem;
			text-transform: uppercase;
			font-size: 15px;
		}

		.value {
			width: 100%;

			@media screen and (min-width:768px) {
				width: 75%;
			}

		}

		ul {
			float: right;
			width: 100%;
		}

		.selected-value {
			border: 0 none;
			color: $dark-gray;
			font-weight: bold;
			padding: 1.3em 0 0 .4em;
			text-transform: uppercase;
			display: none;

			@media screen and (min-width:768px) {
				padding-top: .8em;
			}

		}

		.size-chart-link {
			clear: both;
			float: none;

			a {
				border-color: $white !important;
				padding: 0;
			}

		}

	}

	.swatches li {
		float: left;

		&:hover,
		&.selected {
			a {
				border-color: $dark-gray;
			}

		}

		&.unselectable {
			a {
				color: $light-gray;
				opacity: .8;
			}

			&:hover {
				a {
					border-color: $dark-gray;
				}

			}

		}

		a {
			border-color: $medium-gray;
			border-style: solid;
			border-width: 1px;
			display: block;
			line-height: 3.5;
			min-height: 2.625rem;
			min-width: 2.625rem;
			margin: 0 .5rem .5rem 0;
			padding: 1px;
			text-align: center;
			white-space: nowrap;

			@media screen and (min-width:768px) {
				line-height: 2;
				min-height: 2rem;
				min-width: 2rem;
			}

		}

	}

	.color li {
		a {
			line-height: 0;
			width: 2.625rem;
			height: 2.625rem;

			@media screen and (min-width:768px) {
			}

			img {
				width: 100%;
				height: 100%;
			}

		}

	}

	select {
		background-color: $white;
		border: 1px solid $medium-gray;
		border-radius: 0;
		height: 42px;
		width: 100%;
		margin-left: 0;

		@media screen and (min-width:768px) {
			height: 32px;
		}

	}

}

.product-variations {
	position: relative;
	top: -1.75rem;
	margin: 10px 0 .3rem;
}

.product-set .product-add-to-cart {
	display: block;
}

.pdp-main .product-add-to-cart {
	margin: 0;
	padding: 1.4375em 0 1.25em;
	.qty-n-stock {
		display: block;
		width: auto;
		margin: 0 0 1em;
		.inventory {
			white-space: nowrap;
			display: inline-block;

			label {
				display: inline-block;
				font-size: 1rem;
				line-height: 1.5rem;
				color: $black;
				margin: 0;
				text-transform: uppercase;
			}

			input {
				margin: 0 0.3125em;
				text-align: center;
				border-color: $light-gray;
				padding: 0;
				width: 2.3125rem;
				color: $dark-gray;
				font-size: 1rem;
				line-height: 1.4375rem;
			}
		}
	}

	.product-actions {
		display: block;
		padding: 0.625em 0;
		text-align: right;
		//float: right;
		a {
			display: inline-block;
			vertical-align: bottom;
			text-decoration: underline;
			color: $black;
			font-size: 0.75rem;
			font-weight: 400;
			margin-left: 0.625em;
			&:hover {
				color: $cuisinart-gray-50;
				text-decoration: underline;
			}
		}
		.fa {
			font-size: 0.75rem;
			display: none;
		}

	}

	button {
		display: inline-block;
		margin: 0 0 1em;
		font-size: 0.90625rem;
		float: left;
		background-color: $medium-gray-alt;
		border-color: $medium-gray-alt;
		text-transform: uppercase;
		&:hover {
			color: $white;
		}
	}
}

.pdp-main {
	.product-desc,
	.product-feat {
		line-height: 1.6;
		padding: 0.75em 0;
		clear: both;

		h4 {
			font-size: 1rem;
		}

		p {
			margin: 0;
		}

	}

	.product-desc,
	.product-feat {
		p,
		div {
			margin: 0;
			overflow: hidden;
			text-align: left;
			transition: all 0.3s linear;
			height: auto;
		}

		.read-link {
			float: right;
			font-size: 0.75rem;
			display: block;
			font-style: italic;

			&.less {
				display: none;
			}

		}

	}

	.product-desc {
		margin-bottom: 1.5em;
	}

	.product-feat {
		ul {
			list-style: disc;
			margin-left: 1.25em;

			li {
				list-style: inherit;
			}

		}

	}

	.product-social {
		overflow: hidden;

		.socialsharing {
			margin: 1em 0 0;
			font-size: 1.625rem;
			display: inline-block;

			label {
				font-size: 0.625rem;
				line-height: 2.25rem;
				margin: 0 0.625em 0 0;
			}

			a.share-icon {
				font-size: 1.75rem;
				line-height: 2.25rem;
				color: #fff;
				transition: all 0.3s linear;
				background-color: $cuisinart-gray-50;
				width: 2.25em;
				display: inline-block;
				text-align: center;

				&:hover {
					background-color: $black;
				}

				&.facebook {
					.fa {
						position: relative;
						top: 0.25em;
						left: 0.25em;
					}

				}

				&.twitter {
					font-size: 1.625rem;
				}

			}

		}

		.retailer-info {
			display: inline-block;
			margin: 1em 1px 1px;
			float: right;

			a {
				&.where-to-buy {
					text-align: center;
					background: $cuisinart-red;
					box-shadow: 0 0 0 1px $cuisinart-red;

					&:hover {
						background: $white;
						border-color: $cuisinart-red;
						color: $cuisinart-red;
					}

				}

			}

		}

	}

}

.facebook-integration {
	display: inline-flex;
	margin: 0 0.625em;
}

.gplus-integration,
.tweet-integration {
	display: inline-block;
	padding-top: 3px;
}

#send-to-friend-main > fieldset {
	display: table-cell;
}

#send-to-friend-dialog {
	padding-bottom: 2em;

	.login-create {
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $white 0%, $stark-white 100%) repeat scroll 0 0;

		&:hover {
			background: rgba(0, 0, 0, 0) linear-gradient(to bottom, $stark-white 0%, $white 100%) repeat scroll 0 0;
		}

	}

	button, .buttonstyle{
		background-color: $black;
		border-color: $black;
		&:hover{
			background-color: transparent;
			border-color: $cuisinart-gray-50;
			color: $cuisinart-gray-50;
		}
	}

}

#send-to-friend-main {
	max-width: 90%;
	padding-right: 2em;

	.label-inline {
		margin-left: 0;
	}

	textarea {
		line-height: 20px;
	}

}

.send-to-friend-login-message > p {
	display: block;
	padding-bottom: 10px;
}

.send-to-friend-product {
	padding: 2em 0;
	margin: 1em 0 2em;
	border-bottom: 1px solid $gainsboro;

	.product-image {
		border: 1px solid $gainsboro;
		text-align: center;
		max-width: 385px;

		img {
			max-width: 100%;
		}

	}

}

.send-to-friend-product dd {
	width: 100%;
	margin: 0 0 1em;
}

.send-to-friend-product dt {
	font-weight: bold;
	width: 100%;
	margin-right: 1em;
	margin: 0 0.5em 0.1em 0;
}

.share-options a:hover {
	text-decoration: none;
}

.pdp-main {
	.product-actions {
		@extend %clearfix;

		a {

			&.share-icon {
				color: $nobel;

				&:hover {
					color: $dark-gray;
				}

				i {
					font-size: 2rem;
				}

			}

		}

	}

	.product-set-actions {
		clear: both;
		overflow: hidden;

		a {
			float: right;
			margin-left: 15px;
		}

	}

	.recommendations {
		.grid-tile {
			margin: 0 1.5% 5% 0;
		}
		
		.product-image {
			margin-bottom: 0.3125em;
			border: none;
		}

		.product-name {
			font-size: 1em;
			font-weight: 400;
			text-align: center;
			margin: 0.5em 0 0.25em;
			text-transform: none;
		}
		.recommendations_view-more {
			text-align: center;
			margin: 1em 0;
		}
	}

	.accessories_view-more,
	.compatible_view-more {
		text-align: center;
		margin: 1em 0 2em;
	}
}

.pdp-main {
	.promotion {
		border: 0;
		margin: 3px 0 10px;
		overflow: hidden;
		padding: 0;
		float: left;
		width: 100%;
		clear: both;

		.promotion-title {
			float: left;
			color: $dark-gray;
			display: none;
		}

		.promotion-callout {
			color: $cuisinart-red;
			margin-left: 2px;
			padding: 0;
			float: left;

			.fa {
				color: $cuisinart-red;
				display: none;
			}

			.tooltip {
				text-decoration: underline;
				color: $dark-gray;
				font-weight: normal;
				font-size: 0.75em;
			}

			+ .promotion-callout {
				//padding-top: 0.5em;
				clear: both;
			}

		}

	}

	.product-variations,
	.product-options {
		clear: both;
		float: left;
		width: 100%;

		.attribute {
			margin: 0;

			.label {
				color: $dark-gray;
				text-transform: none;
				float: left;
				font-size: 11px;
				font-weight: bold;
			}

		}

		.swatches {
			li {
				a {
					border-width: 2px;
					padding: 1px;
					width: 38px;
					height: 38px;
					border-color: $cuisinart-gray-50;
					margin: 0 0.5rem 0 0;
				}

				&.selected,
				&:hover {
					a {
						border-color: $black;
					}

				}

			}

		}

	}

	.availability-block {
		display: inline-block;
		width: 100%;
		margin: 1.25em 0 0;

		.availability {
			.availability-novariation {
				margin-left: 3px;
				float: left;
			}

			.availability-msg {
				margin-left: 3px;
				color: $dark-gray;
				float: left;

				p {
					margin: 0;
				}

			}

		}

	}

	.info-tabs {
		display: inline-block;
		margin: 1.25em 0;
		width: 100%;
		min-height: 12em;
	}

	.product-tabs {
		border: none;
		display: inline-block;
		width: 100%;
		display: none;

		.print-page {
			right: 0;
			position: absolute;
			display: none;
		}

		.tabs-menu {
			height: 2.75rem;

			> li > a {
				font-style: normal;
			}

			&.mobile-tabs {
				height: auto;
				padding-bottom: 0;
			}

		}

		.tab-content {
			//min-height: 6.25rem;
			display: block;
			width: 100%;
			margin-top: 1em;
			padding: 0;

			h3 {
				margin-top: 0;

				+ p {
					margin-top: 0;
				}

				&.product-recipe-name {
					color: $black;
					border-bottom: 1px solid $cuisinart-gray;

					.featured-recipe-toggle {
						display: block;
						width: 100%;
						height: 100%;
						cursor: pointer;
						padding: 0.5em;

						&:hover {
							text-decoration: none;
							color: $cuisinart-gray-50;
						}

					}

					.icon {
						float: right;
					}

				}

			}

			ul {
				clear: both;
				margin-left: 2rem;

				li {
					list-style: disc;
				}

			}

			ol {
				list-style-type: decimal;
				margin-left: 2rem;
				padding: 0;
			}

			&.recipe-tab-content {
				ol {
					counter-reset: list;
					margin: 0;
					padding-left: 1.5em;

					> li {
						list-style: none;
						position: relative;
						margin-bottom: 0.75em;

						&:before {
							position: absolute;
							left: -1.4em;
							counter-increment: list;
							content: counter(list) ") ";
						}

					}

				}

			}

		}

		.ui-tabs-nav > li {
			border: 0;
			background-color: transparent;
			font-size: 1.125rem;
			margin: 0;
			padding: 0;

			a {
				padding: 5px 0;
				margin: 0 15px;
				color: $cuisinart-gray-50;
				transition: none;
				text-transform: uppercase;
				transition: color 0.3s linear;
				border-bottom: 2px solid transparent;
				&:hover{
					color: $black;
				}

			}

			.divide {
				float: left;
				padding: 5px 3px 5px 0;
			}

			&:first-child {
				a {
					margin: 0 15px 0 5px;
				}

			}

			&:last-child {
				.divide {
					display: none;
				}

			}

			&.ui-state-active {
				a {
					color: $black;
					//border-bottom: 2px solid black;

				}

			}

			&:focus,
			&:active {
				outline: none;
			}

		}

		.product-recipe-row {
			display: block;
			width: 100%;
			height: 48px;
			margin: -1px 0;
			padding: 0;
			border: 1px solid $cuisinart-gray;
			overflow: hidden;
			line-height: normal;

			> h3 {
				margin-bottom: 0;
			}

			.product-recipe-content {
				max-height: 0;
				transition: all 0.3s ease;
			}

			.featured-recipe-toggle {
				color: $dark-gray;
				background: $white-smoke;
			}

			&.single {
				border: none;

				.featured-recipe-toggle {
					.icon {
						display: none;
					}

				}

			}

			&.active {
				height: auto;

				.product-recipe-name {
					border-bottom: none;
				}

				.featured-recipe-toggle {
					background: $white;
					color: $black;
				}

				.product-recipe-content {
					max-height: 2000px;
				}

			}

		}

		.product-recipe-content,
		.product-recipe-video {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			margin: 0 auto;
			padding: 0;
		}

		.product-recipe-content {
			padding: 1em;

			.product-recipe-col {
				display: inline-block;
				vertical-align: top;
				width: 47%;
				margin-right: 1.5%;
				padding-right: 1%;

				&:last-child {
					margin-right: 0;
					padding-right: 0;
					border-right: 0;
				}

			}

			section {
				margin: 0.3125em 0 0.6125em;
			}

			.product-recipe-label {
				font-weight: 600;
			}

			.product-recipe-ingredients {
				ul {
					margin-left: 0;

					li {
						list-style: none outside none;
					}

				}

			}

			.product-recipe-instructions {
				p {
					margin: 0 0 0.6125em;
				}

			}

			&.hasVid {
				width: 100%;

				.product-recipe-col {
					margin-right: 0;
					padding-right: 0.625em;
					border: none;
				}

			}

		}

	}

	h3 {
		&.section-title {
			font-size: 1.125rem;
			text-transform: uppercase;
			margin: 1em 0 0.625em;
		}

	}


	.spare-parts-content {
		font-size: 1rem;
		margin-top: 0.625em;

		.grid-tile {
			width: 23%;
			margin: 0 1.5% 5% 0;
		}

		.product-tile {
			.product-image {
				margin-bottom: 0.3125em;
				border: none;
			}

			.product-name {
				font-size: 1em;
				font-weight: 400;
				text-align: center;
				margin: 0.5em 0 0.25em;
				text-transform: none;
			}

			.product-number {
				display: block;
				float: none;
				text-align: center;
			}

		}

	}

	.specs-content {
		border: 1px solid $cuisinart-gray;
		margin: 0 1em;
		font-size: 0.875rem;

		.spec-row {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			border-bottom: 1px solid $cuisinart-gray;

			&:nth-child(even) {
				background-color: $white-smoke;
			}

			&:last-child {
				border-bottom: 0;
			}

		}

		.spec-row_label,
		.spec-row_value {
			padding: 0.5em 1.25em;
		}

		.spec-row_label {
			width: 35%;
			font-weight: 600;
			border-right: 1px solid $cuisinart-gray;
		}

		.spec-row_value {
			padding: 0.5em 1.25em;
		}

	}

	.product-set-list {
		border-top: 1px solid $gainsboro;
		margin: 0 0 0 6px;

		.product-set-item {
			border-bottom: 1px solid $gainsboro;
			clear: both;
			margin: 0;
			overflow: hidden;
			padding: 1em 0;

			&:last-child {
				border: none;
			}

		}

		.product-set-image {
			float: left;
			width: 22%;

			.product-thumbnail {
				width: 100%;
			}

		}

		.product-set-details {
			float: left;
			width: 78%;
		}

		.attribute {
			h3,
			.label {
				width: 25%;
			}

		}

		.product-name {
			float: none;
			font-size: 1.3em;
			margin: 5px 0 0;
			width: auto;
		}

		.block-add-to-cart {
			background: none repeat scroll 0 0 $white-smoke;
			clear: both;
			overflow: hidden;
			padding: .5em 0;

			.inventory {
				float: left;
				margin-left: 22%;
				width: 20%;
			}

			label {
				padding: .7em 0;
				text-align: left;
				width: 40%;
			}

			.input-text {
				width: 35px;
			}

			.product-price {
				float: left;
				font-size: 1.6em;
				margin: 0;
				padding: 6px 0 0;
				text-align: right;
				width: 35%;
			}

			button {
				float: right;
				font-size: .9em;
				margin: 3px 5px 0 0;
				padding-left: 1em;
				padding-right: 1em;
			}

		}

		& + .product-add-to-cart {
			overflow: hidden;

			.product-price {
				float: left;
			}

			button.add-to-cart {
				float: right;
			}

		}

	}

}

.ui-tabs .ui-tabs-nav li {
	ul {
		li {
			list-style-type: disc;
			list-style-position: inside;
			white-space: normal;
			margin: 0 0 5px;
			float: none;
		}

	}

}

.ui-tabs .ui-tabs-nav li a {
	color: $white;
}

.ui-tabs .ui-tabs-panel {
	width: 100%;
}

/*
.tab-content a.button-download-manual {
color: $dolphin;
display: inline-block;
font-size: 14px;
font-weight: normal;
height: auto;
margin: 15px 0 0;
padding: 5px 15px;
&:hover{
  text-decoration:none;
}
}
.tab-content a.button-download-manual span {
  &.download-label, &.download-product{
text-decoration:underline;
  }
}

.tab-content .download-product {
text-transform: uppercase;
}
.tab-content a.button-download-manual > span {
font-family: $sans-serif;
font-size: 14px;
line-height: 10px;
padding: 5px 0;
vertical-align: middle;
color: $dolphin;
&:nth-child(2){
	margin-left: 0;
}
&.fa-download {
	font-family: $fontawesome;
	font-size: 20px;
	position: relative;
  top: 0px;
}
}
*/
.js button.add-all-to-cart {
	display: inherit;
}

.unavailable-button {
	text-transform: uppercase;
	display: block;
	border: 1px solid $medium-gray;
	background: none;
	margin: 0 0 15px;
	padding: 5px 15px;
	text-transform: uppercase;
	text-align: center;

	.unavailable-label-text {
		font-size: 14px;
		font-weight: 500;

		&.with-custom {
			font-size: 15px;
			color: $dolphin;
		}

	}

	.unavailable-custom-text {
		display: block;
		font-size: 12px;
		color: $black;
		margin-top: 2px;
	}

}

.availability-msg {
	#product-availability-out {
		color: $red;
	}

	#product-availability-low {
		color: #ecbe08;
	}

}

.notifymsg {
	color: $black;
	font-size: 12px;
	margin: 7px 0 5px;
	float: left;
}

.notify-submit-fields {
	clear: both;
	padding-top: 5px;

	span.error {
		clear: both;
		float: left;
	}

}

.notify-submit-fields > input {
	border: 1px solid $black;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 1px 0 2px 1px rgba(66, 66, 66, 0.1);
	float: left;
}

.notify-submit-fields > input[type="email"] {
	width: 70%;
}

.notify-submit-fields > input[type="submit"] {
	height: 30px;
	border-radius: 0 3px 3px 0;
	margin-bottom: 3px;
	margin-left: -5px;
	padding: 7px 15px 6.5px;
	background: transparent linear-gradient(to bottom, $white 0%, $light-gray 100%) repeat scroll 0 0;
	float: left;
}

.notify-response {
	color: $islamic-green;
	font-size: 12px;
}

.pt_product-details {
	.product-banner {
		margin: 3em 0;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

	}

}

//=============================================//
//--------------- MEDIA QUERIES ---------------//
//=============================================//

/* Mobile Lg/Sm */
@media screen and (max-width:767px) {
	.pt_product-details {
		.primary-content {
			padding: 0;
		}

		.breadcrumb .last {
			display: none;
		}

		.wrap {
			padding: 0 20px;
		}

	}

	#product-nav-container {
		bottom: 0;
		width: 100%;

		div {
			width: 60px;

			&.product-next {
				float: right;
			}

		}

		.divided span {
			border: 0;
		}

	}

	.pdp-main {
		.product-col-1,
		.product-col-2 {
			clear: both;
			float: none;
			margin: 0;
			width: 100%;
			padding: 0;
		}

		.product-col-2 {
			padding-top: 1.5em;
		}

		.product-name {
			margin: 0;
			line-height: 23px;
		}

		.product-primary-image.mobile-thumbs-active,
		.product-thumbnails,
		.product-image-zoomLink {
			display: none;
		}

		.attribute {
			span {
				&.value {
					padding-top: 0.3125em;
				}

			}

		}

		.product-add-to-cart {
			.inventory {
				width: 100%;

				label {
					display: inline-block;
					width: 36%;
				}

			}

			.qty-n-stock {
				.availability-block {
					margin-top: 0;
				}

			}

			button {
				clear: both;
				width: 99%;
				float: none;
				margin: 0 auto 0.625em;
			}

		}

		.product-price {
			margin-top: 0.625em;
		}

		.product-variations {
			margin: 0;
		}

		.availability-block {
			margin: 1em 0;
		}

		.flex-direction-nav a::before {
			color: $nobel;
			text-shadow: unset;
			font-size: 2rem;
		}

		.flex-direction-nav a {
			text-shadow: unset;
		}
		
		.recommendations,
		.spare-parts-content {
			.grid-tile {
				width: 48%;
				margin: 0 1.25% 5% 0;
			}

		}

	}

	.pdp-main {
		.product-set-list {
			.product-set-image img {
				max-width: 90%;
			}

			.block-add-to-cart {
				.inventory {
					margin: 0;
					width: 23%;
				}

				.product-price {
					font-size: 1em;
					width: 44%;
				}

				button {
					font-size: .7em;
				}

			}

		}

		.product-review-links {
			margin-left: 6%;
		}

		.prSnippetTitle,
		.prSnippetRatingUnclickable {
			float: left;
		}

	}

	.sizinginformation {
		padding: 0;

		th {
			font-weight: normal;
			padding: 0 0 0 2px;
		}

		td {
			background: #ffffff;
			padding: 5px;
			text-align: center;
		}

		.sizechart {
			padding: 0 !important;
		}

	}

	.pdp-main {
		.product-primary-image {
			width: 100%;
		}

		.product-image-container {
			max-width: 450px;
			padding: 0;
		}

		.product-add-to-cart {
			text-align: center;
			padding: 23px 0 10px;

			.qty-n-stock {
				width: 100%;
				float: left;

				.inventory {
					width: auto;
					float: none;

					label {
						width: auto;
						float: left;
					}

					input {
						float: left;
					}

				}

				.availability-web {
					display: inline-block;
					padding: 5px 0 0;
					width: 50%;
					vertical-align: middle;
					clear: none;
					float: left;
				}

			}
			.product-actions {
				width: 100%;
				text-align: center;

				a {
					clear: both;
					float: none;
					display: inline-block;
					width: 100%;
					margin: 0 !important;
					line-height: 26px;

					&.addtowishlist {
						margin: 0;
					}
				}
			}
		}
	}

	.pdp-main {
		.product-social {
			text-align: center;

			.social-sharing {
				margin: 20px 0;
			}

			.retailer-info {
				float: none;
				margin: 0 auto 1.25em;
			}

		}

	}

	.pdp-main .product-social .socialsharing {
		margin: 20px 0;
	}

	.notify-submit-fields > input[type="email"] {
		width: 68%;
	}

	.pdp-main .product-add-to-cart .right-col {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		display: block;
		float: none;
	}

	.pdp-main {
		.product-tabs {
			.tab-content {
				display: inline-block;
				font-style: normal;
				min-height: auto;
				margin: 0 0 1em;
				padding: 0;
				white-space: normal;
				width: 100%;

				h3 {
					&.product-recipe-name {
						font-size: 1.125em;
					}

				}

			}

			.product-recipe-content,
			.product-recipe-content.hasVid,
			.product-recipe-video {
				width: 100%;
				border: none;

				.product-recipe-col {
					width: 100%;
				}

			}

			.product-recipe-row {
				height: 41px;
				padding: 0;
			}

			.ui-tabs-nav > li a {
				margin: 0;
			}

		}

		.info-tabs {
			margin: 0;
			padding: 0;
		}

		.specs-content {
			margin: 0;

			.spec-row {
				flex-direction: column;
				text-align: center;
			}

			.spec-row_label {
				width: 100%;
				border-right: 0;
			}

		}

	}

	.product-detail .product-tabs {
		padding: 0;

		.tabs-menu li {
			transition: all 0.3s ease;

			> a {
				box-shadow: none;
				font-weight: normal;
				font-style: normal;
				padding: 10px;
				border: 1px solid #999;
				text-align: center;
				background-color: #dcdddf;
				color: $black;
				transition: all 0.3s ease;

				&:hover {
					text-decoration: none;
					background-color: #dcdddf;
					color: $black;
					border-bottom: 1px solid #999;
				}

			}

		}

		.tabs-menu > li {
			display: block;
			margin: 2px 0;
			width: 99.4%;
			border: 0;
			box-shadow: none;
			background-color: transparent;

			&:first-child {
				margin-top: 0;

				a {
					margin: 0;
				}

			}

			&:last-child {
				margin-bottom: 0;
			}

			&.open,
			&.expanded {
				padding-bottom: 1em;
				outline: none;
				border: none;

				&:focus {
					border: none;
					outline: none;
				}

				> a {
					background-color: $cuisinart-gray-50;
					color: $white;
					border-bottom: none;

					&:hover {
						background-color: $black;
						color: $white;
						border-bottom: none;
					}

				}

				.tab-content a {
					border-bottom: none;
					color: $cuisinart-gray-50;
					text-decoration: underline;
					font-size: 1em;
				}

			}

			.divide {
				display: none;
			}

		}

		.tab-content {
			box-shadow: none;
			white-space: initial;
		}

	}

	.videos-wrapper {
		width: 100%;
	}

	.product-thumbnails .thumbs-wrap.overflow ul.overflow-block {
		width: unset;
	}

	.pdp-main .recommendations {
		border: 0;
		padding: 0;
		margin: 0;

		h2 {
			border-top: 2px solid #d3d3d3;
			margin: 12px 0 15px;
			padding: 10px 0;
		}

		#carousel-recommendations {
			width: 100%;

			li {
				width: 140px;
			}

		}

		.jcarousel-next {
			right: -8px;
		}

		.jcarousel-prev {
			left: -8px;
		}

		.product-price {
			margin-top: 0;
		}

	}

}

/* Mobile Lg Only */
@media screen and (min-width:480px) and (max-width:767px) {
	.pt_product-details {
		.wrap {
			padding: 0 25px;
		}

	}

	.pdp-main {
		.product-col-1 {
			margin-bottom: 20px;
		}

		.product-primary-image {
			width: 86.04651%;

			&.mobile-thumbs-active {
				display: block;
			}

		}

		.product-image-container {
			max-width: 100%;
		}

		.product-thumbnails {
			width: 13.95349%;
			display: block;
		}

		.product-actions {
			.download-manual-link,
			.dealer-resources-link,
			.download-image-link {
				a {
					width: 100%;
					max-width: 185px;
					text-align: left;
					clear: both;
					float: right;
					font-size: 14px;
					margin-bottom: 15px;
				}

			}

		}

		.product-add-to-cart .qty-n-stock {
			width: 25%;
			float: left;

			.inventory {
				width: 100%;

				label {
					width: auto;
				}

			}

			.availability-block {
				margin-top: 0;
			}

			.availability-web {
				display: inline-block;
				padding: 5px 0 0;
				width: 100%;
				vertical-align: middle;
				clear: both;
				float: left;
			}

		}

		.product-add-to-cart {
			.product-actions {
				width: auto;
			}

			.right-col {
				width: 68%;
				text-align: right;
				margin-top: 0;
				padding: 0;

				a {
					clear: none;
					float: left;
					width: auto;
					margin-left: 10px !important;

					&.addtowishlist {
						clear: none;
						float: left;
					}

				}

			}

		}

		.product-social {
			text-align: left;

			.retailer-info {
				float: right;
				margin: 21px 1px 1px;
			}

		}

	}

	.pdp-main .recommendations #carousel-recommendations li {
		width: 143px;
	}

	.videoLinkText {
		display: none !important;
	}

}

/* Mobile Sm Only */
@media screen and (max-width:479px) {
	.pdp-main #BVRRSummaryContainer {
		margin: 0.3125em auto;
		width: 100%;
	}

	.videoLinkText {
		display: block !important;
	}

}

/* Tablet Only */
@media screen and (min-width:768px) and (max-width:959px) {
	.pdp-main {
		.product-add-to-cart {
			position: relative;

			.qty-n-stock {
				//position: absolute;
				//z-index: 99;
			}

			.right-col {
				padding: 0;
			}
			.product-actions {
				padding: 0;
				margin-top: -1em;
			}

		}

		.recommendations {
			li {
				width: 155px;
			}

			.product-image img {
				margin-left: -4px;
			}

		}

		.product-set-list .block-add-to-cart button {
			font-size: .9em;
			margin-top: 3px;
		}

		.product-tabs {
			.tab-content {
				&.spare-parts-content {
					.grid-tile {
						margin: 0 0 2% 2.5%;

						&.new-row,
						&:first-of-type {
							margin-left: 0;
						}

					}

				}

			}

		}

		.product-social {
			.retailer-info {
				clear: both;
				float: left;
			}

		}

	}

	.pdp-main #BVRRSummaryContainer {
		margin: 0.3125em auto;
		width: 100%;
	}

	.info-book-link {
		padding-top: 0.75em;

		+ .info-book-link {
			padding-top: 0.25em;
		}

	}

	.product-thumbnails {
		margin: 0 0 0.4375em;

		.thumb {
			margin-right: 0.625em;
		}

	}

}