.checkout-progress-indicator {
	font-family: $serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
	overflow: hidden;
	padding-bottom: 1em;
	div {
		display: inline;
		padding: 0 0.83em 0 0;
	}
	.active span {
		font-weight: 700;
		color: $black;
	}
	a {
		color: $night-rider;
	}
	i {
		padding-left: 0.83em;
		color: $very-light-gray;
	}
	.step-3 {
		padding-right: 0;
	}
}

.shipping-method {
	margin-top: 1.83em;
	label {
		display: inline;
		float: none !important;
		padding-right: .42em !important;
	}
	.shipping-description {
		display: inline;
	}
}

.gift-message-text {
	&.hidden {
		display: none;
	}
}

.billing-coupon-code {
	.form-row {
		width: 50%;
	}
}

.redemption {
	.success {
		color: $islamic-green;
	}
	color: $sangria;
	span.error {
		margin-left: 0;
	}
}

.payment-method-options {
	.form-row {
		clear: none;
		float: left;
		width: auto;
	}
}

.payment-method {
	clear: both;
	display: none;
}

.payment-method-expanded {
	display: block;
}

.month,
.year,
.day {
	clear: none;
	float: left;
	margin: 0 0 2% 2%;
	label {
		@extend .visually-hidden;
	}
	select {
		width: auto;
	}
}

.month .form-caption {
	margin-left: 0;
}

.cvn {
	clear: left;
}

.ssn {
	clear: left;
}

.bml-terms-and-conditions {
	border: 1px solid $dark-gray;
	font-size: 0.8em;
	height: 400px;
	overflow: auto;
	padding: 1em;
}

.bml-table-col-1 {
	width: 25%;
}

.pt_checkout h3 {
	padding-bottom: 1em;
}

.checkout-mini-cart {
	background-color: $white-smoke;
	max-height: 330px;
	overflow: auto;
}

.checkout-order-totals {
	background-color: $white-smoke;
	padding: 0.3rem .5rem;
}

.place-order-totals {
	clear: both;
	.order-totals-table {
		float: right;
		width: 50%;
	}
	.content-asset {}
}

.order-component-block {
	margin: 1.67em 0;
	.section-header a {
		float: right;
		font-weight: normal;
	}
	.details {
		background: none repeat scroll 0 0 $gainsboro;
		color: $dark-gray;
		padding: 0.5em 1em;
	}
}

.order-summary-footer {
	position: relative;
	h2 {
		font-size: 2em;
		font-style: italic;
		font-weight: normal;
	}
}

.summary-help {
	float: right;
	font-size: 0.8em;
	margin: 1em 0;
}

.submit-order {
	clear: both;
	display: block;
	padding: 1.67em 0 0;
	text-align: right;
	.back-to-cart {
		&:hover {
			text-decoration: underline;
		}
	}
	button {
		margin-left: 1.5em;
	}
}

.pt_order-confirmation {
  #main > .wrap{
    .primary-content{
      margin:1em 0 5em 0;
      padding:1em;
      width:100%;
      background: $white;
    }
    
  }
	h1 {
		font-size: 2.5em;
		text-transform:none;
		letter-spacing:normal;
	}
	.order-shipment-table {
		margin: 0 0 1.67em;
		.order-shipment-details {
			border-right: 1px solid $gainsboro;
			min-width: 200px;
		}
	}
	#primary h2 {
		font-size: 2em;
		font-style: italic;
		font-weight: normal;
	}
	.print-page {
		float: right;
	}
	#secondary{
		display:none;
	}
}

.confirmation-message {
	margin-bottom: 1.67em;
	padding-bottom: 1.67em;
	font-size:14px;
}

.order-discount {
	color: $sangria;
}

.gift-cert-used {
	padding: .83em 0;
}

.order-detail-options {
	border-top: 1px solid $gainsboro;
	margin: 1.67em 0 0;
	padding: 1.67em 0 0;
	text-align: right;
	a {
		margin: 0 0.83em;
	}
}

.summary .edit {
	position: absolute;
	text-transform: uppercase;
	right: 10px;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pt_order-confirmation .order-confirmation-details .content-header {
	margin: 0.6em 0 !important;
}

.order-confirmation-details{
  .item-list{
    th.paymentTotal{
      min-width:190px;
      text-align:right;
    }
    .order-totals-table{
      tr{
        border:none;
      }
    }
  }
}
.order-shipment-details {
	.label,
	.firstname,
	.lastname {
		font-weight: bold;
	}
}

.item-shipping-address {
	min-width: 120px;
}

.order-shipment-gift-message-header {
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 0px;
}

.order-shipment-gift-message {
	font-size: 1.1em;
}

.billing-error {
	color: red;
	margin: 0 0 .83em 24%;
}

.cvn-tooltip {
	font-weight: bold;
	margin: 5px;
	text-align: center;

	img {
		height: 150px;
		width: 110px;
	}
}
.form-horizontal label {
	width: 22.5%;
	margin-top: 4px;
}
.pt_checkout {
	 #main {
	    margin: 60px 0 90px;
	    .wrap{
	      background: $white;
	    }
	}
	.primary-focus .primary-content {
		width: 75%;
		padding: 0.8em 3em 3em 0.8em;
	}
	.primary-focus #secondary {
		width: 25%;
		margin-right: 0;
	}
	legend {
	    padding: 0.51em 2.5%;
	}
	
	.form-horizontal {
		#dwfrm_singleshipping_shippingAddress_addressFields_toggleFields,
		#dwfrm_billing_billingAddress_addressFields_toggleFields {
			appearance: none;
			opacity: 0;
			&::ms-check {
				display: none;
			}
			& + label {
				display: inline-block;
				width: 62%;
				text-transform: none;
				text-align: right;
				padding: 0 0 0.875rem;
				text-decoration: underline;
				cursor: pointer;
				&:hover {
					color: $brown;
				}
			}
		}
	}
	.form-row {
	    margin: 1rem 0;
	    &.CREDIT_CARD{
	      margin-right:1em;
	    }
	}
	.form-row .required-indicator {
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 4px 0 0;
	    vertical-align: middle;
	    line-height: 15px;
	}
	.form-horizontal .form-caption {
	    margin-left: 24.5%;
	}
	.tooltip {
	    text-decoration: underline;
	    font-size: 1.2em;
	}
	.form-indent {
	    margin: 1em 0 1em 24.5%;
	    padding-left: 1px;
	}
	.label-inline .field-wrapper {
	    margin: 2px 0;
    	width: auto;
	}
	input[type="radio"] {
	    margin: 0.5em 1% 0.5em 0.5%;
	}
	.field-wrapper input[type="radio"]:last-child {
	    margin: 0 4px 0 8px;
	}
	label {
		font-size: 14px;
	}
	.form-row.gift-radio {
	    margin: 35px 0 0;
	}
	.form-row.shippinginstruction-radio {
	    margin: 0;
	    label{
        float:left;
        width:auto;
        margin-right:10px;
      }
	    input[type='radio']{
	      float:left;
	    }
	}
	.char-count {
	    margin: 2px;
	}
	.form-row.gift-message-text {
	    margin-top: 0.5em;
	}
	.form-row.shippinginstruction-text {
	    margin-top: 0.5em;
	}
	.gift-message-text .field-wrapper {
	    margin-bottom: 0;
	}
	.input-textarea {
	    line-height: 17px;
	    height: auto;
	}
	.shipping-footer {
	    padding: 0.35em 0 2em 24.5%;
	}
	.summary h3.section-header {
	    border-bottom: 1px solid $gainsboro;
	    padding: 0.8em 0.8em 0.7em;
	    margin: 0 0 2px;
	}
	.section-header-note {
		text-decoration: underline;
	}
	.mini-cart-product .mini-cart-toggle {
		display: block;
	}
	.checkout-mini-cart {
		background-color: unset;
	}
	.mini-cart-image {
	    margin-right: 5px;
	}
	.mini-cart-image img {
		width: 100%;
	}
	.mini-cart-name {
	    display: inline;
	    float: none;
	    font-style: italic;
	    text-transform: uppercase;
	    width: auto;
	}
	.promo{
    color: $sangria;
  }
	.mini-cart-attributes {
	    float: none;
	    font-size: 1.1em;
	    font-weight: normal;
	    padding: 1px 0;
	    width: auto;
	}
	.mini-cart-pricing {
		  float: none;
    	width: auto;
		.label {
		    text-transform: uppercase;
		}
	}
	.size span {
	    display: none;
	}
	.checkout-order-totals {
	    background-color: unset;
	    border-bottom: 1px solid $white-smoke;
	    border-top: 1px solid $white-smoke;
	}
	.order-totals-table td {
	    padding: 0.15rem 0.3rem;
	}
	select {
	    border-radius: 3px;
	    padding: 6px 0 5px;
    	text-indent: 2px;
	}
	.order-component-block .details {
	    background: none;
	    padding: 0.5em;
	}
	.order-component-block .details {
	    background: none;
	}
	.order-component-block {
	    margin: 2em 0;
	}
	.order-component-block .section-header a {
		float: none;
	}
	.gift-message-text label, 
	.shippinginstruction-text label {
	    display: none;
	}
	.gift-message-text .field-wrapper,
	.shippinginstruction-text .field-wrapper {
		margin: 0 0 0 23%;
	}
	.billing-coupon-code .form-row {
	    width: 70%;
	}
	.billing-coupon-code {
	    margin-bottom: 3em;
	}

	/************ Billing Page **********/
	.privacy-policy {
	    display: block;
	    font-size: 1.2em;
	    padding-bottom: 45px;
	    text-decoration: underline;
	}
	#checkout-giftcertcoupon-help p {
	    font-size: 1.2em;
	    padding-right:1em;
	}
	.label-above label {
	    width: auto;
	}
	.form-horizontal .label-above .field-wrapper {
	    width: auto;
	}
	.billing-coupon-code .apply {
	    font-size: 1.2em;
	    font-weight: bold;
	}
	.year select {
	    width: 60px;
	}
	.form-row .month, 
	.form-row .year {
	    margin: 0 0 0 11px;
	}
	.form-horizontal .cvn .field-wrapper {
	    width: auto;
	    input[type="text"]{
	      width:55px;
	    }
	    span.error{
	      position:absolute;
	    }
	}
	.form-field-tooltip {
		padding-top: 0.3em;
	}
	.checkout-billing .form-row-button .button-fancy-large {
	    margin: 20px 0 50px 40%;
	}
	.payment-method-options .field-wrapper input[type="radio"] {
	    margin: 0 5px 0 0;
	}
	.gift-cert-redemption {
		display: none;
	}
	.payment-method-options .PayPal, 
	.payment-method-options .BML {
	    display: none;
	}
	.payment-select {
	    display: none;
	}
	
	/************** Summary Page *************/
	#cart-table .item-image {
	    width: 15%;
	}
	#cart-table .product-list-item .sku span {
	    color: $medium-gray;
	    font-weight: normal;
	}
	.section-header span {
	    font-size: 1em;
	    font-weight: 700;
	    padding: 0;
	 }
 	.order-component-block .details {
	    padding: 0.5em 0.9em;
	}
}
.review {
	#cart-table .section-header {
		font-size: 1.3em;
    	font-weight: 400;
    	padding: 0.6em 0;
    	text-transform: capitalize;
    	width: auto;
	}
	#cart-table td {
	    padding: 1em 0.5em 4em;
	}
	.item-details .product-list-item .value {
	    font-weight: normal;
	}
	.item-image > img {
	    width: 100px;
	}
	.sku {
	    padding: 4px 0;
	}
	#cart-table th.section-header:first-child {
	    padding-left: 25px;
	}
	#cart-table .item-quantity, 
	#cart-table .item-total, 
	#cart-table .item-quantity-details {
	    font-size: 1.2em;
	}
	#cart-table .item-quantity {
	    text-indent: 13px;
	    width: 10%;
	}
	.review #cart-table td:last-child {
	    padding-right: 0;
	}
	#cart-table td:last-child {
	    font-weight: normal;
	    padding-right: 0;
	}
	.place-order-totals .order-totals-table .order-subtotal, 
	.place-order-totals .order-totals-table .order-sales-tax {
	    font-size: 1.2em;
	    font-weight: normal;
	}
	.checkout-order-totals .order-subtotal > td {
	    font-size: 1.1em;
	    font-weight: normal;
	}
	.checkout-order-totals {
	    border-top: 0 none;
	}
	.mini-shipment h3.section-header {
	    border-top: 0;
	}
	.mini-shipment {
	    margin: 0;
	}
	.mobile-qty{
		display: none;
	}
}

.pt_checkout_avs{
  #main.primary-focus{
    margin-top:55px;
    .primary-content{
      width:100%;
      padding:1em;
    }
  }
  
  .avs-results{
    padding:15px 0;
    overflow:hidden;
  }
  
  .address{
    overflow:hidden;
    position:relative;
    margin-bottom:5px;
    padding:5px 0;
    border-bottom:1px solid $medium-gray;
    p{
      float:left;
      padding-right:110px;
    }
    button{
      position:absolute;
      display:block;
      top:50%;
      right:0;
      margin-top:-15px;
    }
  }
  
  .original-address{
    position:relative;
    display:block;
    width:25%;
    max-width:250px;
    padding:0 10px 15px;
    border:2px solid $gainsboro;
    float:left;
    .address{
      border: none;
    }
  }
  
  .suggested-address{
    position:relative;
    display:block;
    width:72%;
    padding:0 15px 15px;
    background: $gainsboro;
    float:right;
    .address-list{
      border-top:1px solid $medium-gray;
    }
  }
}

.pt_order{
  #main > .wrap{
    background: $white;
  }
}



    

//=============================================//
//--------------- MEDIA QUERIES ---------------//
//=============================================//


/* Mobile Lg/Sm */
@media screen and (max-width: 767px) {
  
  .order-summary-footer h2 {
    width: 50%;
  }
  .place-order-totals .order-totals-table {
    width: 100%;
  }
  
  .payment-method-options {
    padding: 0;
    .form-row {
      width: 100%;
      label {
        float: left;
        margin: 0;
        padding: 0 0 0 1em;
        width: 150px;
      }
      .input-radio {
        margin: 0;
      }
    }
  }
  .pt_order-confirmation {
    .item-list {
      th {
        display: none;
      }
      td {
        float: left;
        padding: 1em 0;
        width: 98%;
      }
      .order-totals-table td {
        float: left;
        width: 48%;
      }
    }
    
    .order-shipment-table {
      th {
        display: none;
      }
      .order-shipment-details {
        border: none;
        width: 100%;
      }
      .shipping-method {
        padding-left: 0;
      }
    }
  }
  .content-asset ul.account-options li {
    float: none;
    width: auto;
    margin-left:0;
  }
  .address-list li,
  .payment-list li {
    float: none;
    width: auto;
  }
  .order-history-header button {
    font-size: 1em;
    padding: .25em;
  }
  
  .pt_checkout{
    .primary-focus{
      .primary-content{
        width:100%;
        padding-right:0.8em;
      }
      #secondary{
        width:100%;
        margin-right:0;
        padding:20px 0.8em 55px;
      }
    }
    .shippinginstruction-text{
      .field-wrapper{
        margin:0;
      }
    }
    .form-horizontal {
		#dwfrm_singleshipping_shippingAddress_addressFields_toggleFields,
		#dwfrm_billing_billingAddress_addressFields_toggleFields {
			appearance: none;
			opacity: 0;
			& + label {
				width: 85%;
				padding-right: 0.75em;
				text-align: right;
			}
		}
		.form-caption {
			margin-left: 0;
		}
	}
  }
  
  .pt_checkout {
    #main {
        margin: 22px 0 50px;
    }
    .primary-focus .primary-content {
        padding: 0.8em;
        width: 100%;
    }
    .checkout-progress-indicator {
      position:relative;
      top:auto;
      overflow:hidden;
      clear:both;
      padding-bottom:0;
      div{
        padding: 0 0.43em 0 0.4em;
        display:inline-block;
        width:32%;
        text-align:center;
        float:left;
        &.step-1,
        &.step-2,
        &.step-3{
          span{
            display:inherit;
            width:100%;
            clear:both;
            float:left;
          }
        }
        &.step-1{
          padding-left:0;
        }
        &.step-3{
          width:30%;
          margin-left: 3%;
          margin-right:0;
          padding: 0;
        }
      }
      .fa{
        transform: translate(40px, -20px);
      }
    }
  }
    .select-address label {
        margin-bottom: 4px;
    }
    .checkout-billing .discount-codes {
        margin: 0;
    }
    .form-horizontal .field-wrapper {
        width: 53%;
    }
    .form-horizontal label {
        float: none;
        width: auto;
      }
      .form-horizontal .field-wrapper {
        width: 85%;
    }
    .form-horizontal .form-caption,
    .form-indent {
        margin-left: 0;
    }
    
    .label-inline .field-wrapper {
        width: auto;
    }
    .shipping-footer {
        padding: 0;
    }
    .summary h3.section-header {
        padding: 0.8em 1em 0.7em;
    }
    
    .order-totals-table td:first-child {
        width: 80%;
    }
    .order-component-block {
        margin: 0;
    }
  
  .order-component-block .section-header a {
        float: none;
    }
    .summary h3.section-header {
        padding: 0.8em 0.5em 0.7em 1em;
    }
    .order-component-block .section-header a {
        float: right;
    }
    .order-component-block .details {
        padding: 0.5em 1em 1.5em;
    }
    .input-textarea {
      margin-top: 8px;
    }
    .payment-method-options {
        margin: 0;
    }
    .payment-method-options .label-inline {
        width: auto;
    }
    .payment-method-options .form-row label {
        padding-left: 0.2em;
    }
    .form-row .month {
        margin: 0;
    }
    .checkout-billing .form-row-button .button-fancy-large {
        margin: 20px 0 40px;
    }
    .billingpage {
        display: none;
    }
    .checkout-billing .form-row-button .button-fancy-large {
        margin: 0 0 20px;
    }
    .section-header-note {
        float: right;
    }

  
  .review {
    .item-image {
        padding: 0.5em 0.5em 0.5em 1.2em;
    }
    .wrap #cart-table td:nth-child(2n+1) {
        width: 35%;
    }
    .wrap #cart-table td:nth-child(2n) {
        width: 63%;
    }
    .color {
        padding: 1px 0 4px;
    }
    .wrap #cart-table td.item-quantity-details {
      top: -10px;
    }
    .wrap #cart-table td.item-quantity {
        padding: 0 1em;
        position: relative;
        top: -8px;
    }
    .wrap #cart-table .cart-row td.item-total {
        width: 100%;
    }
  }
  .review .wrap #cart-table .item-details {
      padding: 0.5em 0 1em;
  }
  .privacy-policy {
      padding-top: 10px;
  }
  
  .review {
    
    #cart-table .item-image {
        float: none;
        padding: 1em 3em;
    }
    .wrap #cart-table td:nth-child(2n+1) {
        width: 39%;
    }
    .wrap #cart-table td:nth-child(2n) {
        width: 60%;
    }
    .wrap #cart-table .item-details {
        float: none;
        padding: 1em 1em 1em 0;
    }
    #cart-table td {
      display: inline-block;
    }
    .wrap #cart-table td.item-quantity {
        padding: 0 3em;
        text-align: left;
        text-indent: unset
    }
    .wrap #cart-table td.item-quantity-details {
        padding: 0;
        position: relative;
        top: -17px;
    }
    .wrap #cart-table .item-price {
        float: none;
        padding: 5px;
        visibility: hidden;
    }
    .wrap #cart-table .item-total {
        float: none;
        font-size: 2em;
        font-weight: bold;
        padding: 0 0 5px;
    }
    .wrap #cart-table td.item-total {
        width: 100%;
        padding-right: 0.5em;
    }
    .item-edit-details {
      display: none;
    }
    .color {
        color: $medium-gray;
        padding: 5px 0 10px;
    }
    .mobile-qty{
      display: inline-block;
      font-weight: bold;
    }
    .order-summary-footer {
        padding: 0 0.5em;
    }
    .checkout-order-totals {
        padding-right: 0;
    }
    .mobile-qty {
        display: inline-block;
    }
  }
  
  .pt_checkout_avs{
    #main.primary-focus{
      margin-top:22px;
      margin-bottom:0;
      .primary-content{
        width:100%;
        padding-right:0.8em;
      }
    }
    .original-address,
    .suggested-address{
      clear:both;
      width:100%;
      max-width:100%;
    }
  }
  
  
  
}

/* Mobile Lg Only */
@media screen and (min-width: 480px) and (max-width: 767px) {
  
  .pt_checkout{
    .checkout-progress-indicator{
      padding-bottom: 1em;
      div{
        width: 32.5%;
        font-size:1em;
        text-align:left;
        display:inline;
        float:none;
        &.step-1,
        &.step-2,
        &.step-3{
          span{
            clear:none;
            float:none;
          }
        }
      }
      .fa{
        transform: translate(0,0);
      }
    }
  }
  
}

/* Mobile Sm Only */
@media screen and (max-width: 479px) {
  
}

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 959px) {
  
  .pt_checkout {
    #main {
        margin: 60px 0 72px;
    }
    .wrap {
      width: 100%;
    }
    .primary-focus .primary-content {
        width: 67%;
    }
    .primary-focus #secondary {
        margin-right: 0;
        width: 33%;
    }
    .shipping-footer {
        padding: 15px 0 25px 26.5%;
    }
    .form-horizontal{
      .field-wrapper{
        width: 53%;
      }
      .label-inline{
        .field-wrapper{
          margin:2px 0;
          width:auto;
        }
      }
      label{
        width:24%;
        margin-top:7px;
      }
    }
    label {
        font-size: 12px;
    }
    .form-indent {
      margin: 1em 0 1em 26%;
    }
    .gift-message-text .field-wrapper, 
    .pt_checkout .shippinginstruction-text .field-wrapper {
        margin: 0 0 0 24.5%;
    }
    
    /************ Billing Page ***********/
    .form-field-tooltip {
        line-height: 14px;
        padding-top: 0;
    }
    .billing-coupon-code {
        margin-left: 5%;
    }
    .billing-coupon-code label {
        width: auto;
    }
    .payment-method-options.form-indent {
        overflow: auto;
        margin-left: 32%;
    }
    .form-horizontal .payment-method-expanded label {
        margin-top: 7px;
        width: 30%;
    }
    .form-row .month,
    .form-row .year {
        margin: 0 0 0 8px;
    }
    .cvn .form-field-tooltip {
        padding-top: 6px;
    }
    .form-horizontal .payment-method-expanded .form-caption {
        margin-left: 32%;
    }
    .checkout-billing .form-row-button {
        width: 82%;
    }
    .payment-method .form-indent {
        margin-left: 32%;
    }
    .form-horizontal .form-caption {
        margin-left: 26.5%;
    }
    .label-inline input[type="checkbox"] {
        margin: -1px 0.5rem 0 0;
    }
    .form-horizontal .cvn .field-wrapper {
        width: 50px;
        margin-right:10px;
    }
  }
  .review{
    #primary,
    #secondary{
      padding-top:0.8em;
    }
  }

  .pt_checkout_avs{
    #main.primary-focus{
      margin-top:55px;
      .primary-content{
        width:100%;
        padding-right:0.8em;
      }
    }
  }
  
  
  
}


