.shippingaddress {
	.select-address {
		width: 100%;
		margin-left: 0;
	}
	.edit-address {
		margin-top: 0.5em;
	}
}

.formactions {
	margin-top: 20px;
	text-align: right;
}

.item-list{
  .multi-shipment-row{
    border-bottom: none;
  }
}

.minishipments-method {
	padding-top: 10px;
}

.multishipprogress {
	div, 
	.step-3 {
		display: inline;
		padding: 1em;
	}
	.step-4 {
		padding-right: 0;
	}
}

.pt_checkout{
  #cart-table{
    .cart-row{
      .shipment-label{
        font-weight:700;
        font-sizse:1.4em;
        margin-top:35px;
      }
    }
  }
}


    

//=============================================//
//--------------- MEDIA QUERIES ---------------//
//=============================================//


/* Mobile Lg/Sm */
@media screen and (max-width: 767px) {
  
}

/* Mobile Lg Only */
@media screen and (min-width: 480px) and (max-width: 767px) {
  
}

/* Mobile Sm Only */
@media screen and (max-width: 479px) {
  
}

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 959px) {
  
}



